---
import ProjectsCard from "./ProjectsCard.jsx";

import projectImg1 from "@/assets/images/pos/administration.png";
import projectImg2 from "@/assets/images/nakawe/colecciones.png";
import projectImg3 from "@/assets/images/perfumes/escritorio.png";

const projects = [
    {
        id: 1,
        title: "Punto de venta corporativo - Desktop Interfaz moderna",
        description: "Punto de Venta corporativo desarrollado con Python y PyQt6, diseñado para optimizar las operaciones comerciales con una interfaz intuitiva, moderna, funcionalidades robustas y librería propia para lograr animaciones modernas. Conexión con terminar MercadoPago. Enfocado para la mayoria de giros comerciales.",
        image: projectImg1.src,
        detailsUrl: "/projects/punto-de-venta",
        year: "2024 - En curso",
        tags: ["Python", "PyQt6", "MySQL"],
        gradient: "from-blue-500/10",
        repoUrl: "https://github.com/tu-usuario/tu-repo",
        liveUrl: "#",
    },
    {
        id: 2,
        title: "Nakawé - Web full-stack e-commerce",
        description:
            'Desarrollo de una plataforma web full-stack que integra funciones informativas, administrativas y de comercio electrónico, utilizando tecnologías modernas para ofrecer soluciones eficientes y robustas. Consumiendo APis de PayPal y Stripe para la pasarela de pagos. Desarrollo colaborativo con <a href="https://github.com/DiegoPasaye" target="_blank" rel="noopener noreferrer" class="font-bold">DiegoPasaye</a>.',
        image: projectImg2.src,
        detailsUrl: "/projects/web-full-stack",
        year: "2025 - En curso",
        tags: ["NextJS", "Neon Serverless", "Postgres", "CSS", "Tailwind CSS", "TypeScript"],
        gradient: "from-green-500/10",
        repoUrl: "https://github.com/tu-usuario/tu-repo-2",
        liveUrl: "#",
    },
    {
        id: 3,
        title: "Diario de perfumes - App Móvil",
        description:
            "Proyecto universitario desarrollado con React y Ionic, app para registrar y guardar los perfumes favoritos de una personas o uno mismo. Utilizando LocalStorage para guardar los datos de los perfumes. La idea a futuro era que la app pudiera dar links de compra de los perfumes favoritos.",
        image: projectImg3.src,
        detailsUrl: "/projects/app-movil",
        year: "2025 - Finalizado",
        tags: ["React", "Ionic", "LocalStorage", "Tailwind CSS", "TypeScript"],
        gradient: "from-green-500/10",
        repoUrl: "https://github.com/tu-usuario/tu-repo-2",
        liveUrl: "#",
    },
];
---

<section class="containerProjects">
    <h1>Featured <span>Projects</span></h1>
    <span>
        A selection of projects showcasing full-stack development expertise and
        innovative solutions
    </span>
    <div class="cards">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mt-10">
                {
                    projects.map((project, index) => (
                        <ProjectsCard
                            project={project}
                            index={index}
                            client:visible
                            
                        />
                    ))
                }
            </div>
    </div>
</section>

<style>
    .containerProjects {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--text-color);
        background-color: var(--clr-dark-slate);
        color: var(--clr-light-text);
        padding: 3rem;
    }

    .containerProjects h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    h1 span {
        text-align: center;
        color: var(--clr-accent);
    }

    .cards {
        width: 100%;
        max-width: 1500px;
        padding: 0 1rem;
        margin-top: 1rem;
    }
</style>
