---
import projectsCard from './projectsCard.astro';
---

<div class="containerProjects">
    <h1>Featured Projects</h1>
    <span>
        A selection of projects showcasing full-stack development expertise and innovative solutions
    </span>
    <div>
        <projectsCard />
    </div>
</div>