---
import ProjectsCard from "./ProjectsCard.jsx";

import projectImg1 from "@/assets/images/pos/administration.webp";
import projectImg2 from "@/assets/images/nakawe/colecciones.webp";
import projectImg3 from "@/assets/images/perfumes/escritorio.webp";

const projects = [
    {
        id: 1,
        title: "Punto de venta corporativo - Desktop Interfaz moderna",
        description: "Punto de Venta corporativo desarrollado con Python y PyQt6, diseñado para optimizar las operaciones comerciales con una interfaz intuitiva y moderna, funcionalidades robustas, y librería propia para lograr animaciones de atractivas. Conexión con terminal MercadoPago. Enfocado para la mayoria de giros comerciales.",
        image: projectImg1.src,
        detailsUrl: "/projects/punto-de-venta",
        year: "2024 - En curso",
        tags: ["Python", "PyQt6", "MySQL"],
        gradient: "from-blue-500/10",
        repoUrl: "https://github.com/tu-usuario/tu-repo",
        liveUrl: "#",
    },
    {
        id: 2,
        title: "Nakawé - Web full-stack e-commerce",
        description:
            'Desarrollo de una plataforma web full-stack que integra funciones informativas, administrativas y de comercio electrónico, utilizando tecnologías modernas para ofrecer soluciones eficientes y robustas. Consumo de APis de PayPal y Stripe para la pasarela de pagos. Desarrollo colaborativo con <a href="https://github.com/DiegoPasaye" target="_blank" rel="noopener noreferrer" class="font-bold">DiegoPasaye</a>.',
        image: projectImg2.src,
        detailsUrl: "/projects/web-full-stack",
        year: "2025 - En curso",
        tags: ["NextJS", "Neon Serverless", "Postgres", "CSS", "Tailwind CSS", "TypeScript", "Vercel", "Cloudflare"],
        gradient: "from-green-500/10",
        repoUrl: "https://github.com/tu-usuario/tu-repo-2",
        liveUrl: "#",
    },
    {
        id: 3,
        title: "Diario de perfumes - App Móvil",
        description:
            "Proyecto universitario desarrollado con React y Ionic, app móvil para los aficionados de la perfumería registren y guarden los perfumes de su interes en visitas a tiendas como posible futura compra. Utilizando LocalStorage para guardar los datos pertinentes. La idea a futuro es que la app ofrezca links directos de compra de los perfumes favoritos en amazon y mercado libre de proveedores oficiales y confiables para evitar caer en compras de perfumes clon.",
        image: projectImg3.src,
        detailsUrl: "/projects/app-movil",
        year: "2025 - pausado",
        tags: ["React", "Ionic", "LocalStorage", "Tailwind CSS", "TypeScript"],
        gradient: "from-green-500/10",
        repoUrl: "https://github.com/tu-usuario/tu-repo-2",
        liveUrl: "#",
    },
];
---

<section id="projects" class="containerProjects">
    <div class="titleSection">
        <h1>Proyectos <span>Destacados</span></h1>
        <p>
            Algunos proyectos de mi autoría que demuestran mi experiencia en el desarrollo full-stack y mi capacidad para crear soluciones innovadoras.
        </p>
    </div>
    <div class="cards">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mt-10">
                {
                    projects.map((project, index) => (
                        <ProjectsCard
                            project={project}
                            index={index}
                            client:visible
                            
                        />
                    ))
                }
            </div>
    </div>
</section>

<style>
    .containerProjects {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--clr-dark-slate);
        color: var(--clr-light-text);
        padding: 3rem;
        text-align: center;
    }

    .containerProjects h1 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    h1 span {
        text-align: center;
        color: var(--clr-accent);
    }

    .titleSection{
        max-width: 50%;
        text-align: center;
    }

    .titleSection p {
        text-align: center;
        color: var(--clr-text-secundary);
    }

    .cards {
        width: 100%;
        max-width: 1500px;
        padding: 0 1rem;
        margin-top: 1rem;
    }

    @media (max-width: 1190px) {
        .titleSection{
            max-width: 100%;
        }
    }
</style>
