<section id="inicio" class="containerHero mt-5">
    <div class="name">
        <h1>
            <div><span id="fullStack">Full Stack</span></div>
            <div><span id="developer">Developer</span></div>
        </h1>
        <h2>Carlos Guijosa</h2>
    </div>
    <div class="presentation">
        <p>
            Hola!, soy <span class="text-(--clr-accent)">Ingeniero en Gestión y Desarrollo de Software</span> con base en Morelia, Michoacán, especializado en <span class="text-(--clr-accent)">desarrollo full-stack</span> con tecnologías de vanguardia y <span class="text-(--clr-light-text)">automatización inteligente</span> de procesos empresariales. Actualmente expandiendo fronteras en <span class="text-(--clr-accent)">blockchain development</span> con <span class="text-(--clr-light-text)">Solidity</span>, automatización con <span class="text-(--clr-light-text)">agentes de IA</span> y plataformas <span class="text-(--clr-light-text)">no-code</span>, e integración de <span class="text-(--clr-light-text)">APIs de modelos de lenguaje (LLMs)</span>. 
        </p>
    </div>
    <div class="buttonsHero">
        <button
            id="viewProjects"
            class="px-5 py-3 bg-(--clr-accent) text-(--clr-dark-space)"
        >
        <a href="#projects">Ver proyectos</a>
        </button>
        <button id="contactMe" class="px-5 py-3 bg-(--clr-dark-space)">
            <a href="#contact">Contactarme</a>
        </button>
    </div>
    <div>
        <span> ↓ </span>
    </div>
</section>

<style>
    .containerHero {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 100dvh;
        gap: 20px;
        background-color: var(--clr-dark-space);
        color: var(--clr-text-secundary);
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .name{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px
    }

    .name #fullStack,
    .name #developer {
        font-size: 3.5rem;
        color: var(--clr-light-text);
        line-height: 1;
    }

    .name #developer {
        color: var(--clr-accent);
    }

    .name h2 {
        font-size: 2.5rem;
        color: var(--clr-light-text);
        margin-top: 0.5rem;
    }

    .presentation {
        width: 90%;
        max-width: 700px;
    }

    .presentation p {
        font-size: 1rem;
    }

    .buttonsHero {
        display: flex;
        padding: 1vh;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .buttonsHero button {
        border-radius: 7px;
        border: 1px solid var(--clr-accent);
    }

    .buttonsHero button:hover {
        background-color: var(--clr-accent-transparent);
        color: var(--clr-light-text);
    }

    @media (min-width: 768px) {
        .name #fullStack,
        .name #developer {
            font-size: 6rem;
        }

        .name h2 {
            font-size: 3rem;
        }

        .presentation {
            width: 50%;
        }

        .presentation p {
            font-size: 1.2rem;
        }
    }
</style>
