<div class="containerHero">
    <div>
        animaciones
    </div>
    <div class="name">
        <h1 id="fullStack">
            Full Stack
        </h1>
        <h1 id="developer">
            Developer
        </h1>
        <h3>Carlos Guijosa</h3>
    </div>
    <div class="presentation">
        <p>
            Crafting elegant solutions through clean code, modern architectures, and seamless user experiences across the entire stack.
        </p>
    </div>
    <div class="buttonsHero">
        <button id="viewProjects" class="px-5 py-3 bg-[var(--clr-accent)] text-[var(--clr-dark-space)]">
            View Projects
        </button>
        <button id="contactMe" class="px-5 py-3 bg-[var(--clr-dark-space)]">
            Contact Me
        </button>
    </div>
    <div>
        <span>
            ↓
        </span>
    </div>
</div>

<style>
    .containerHero {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content:  center;
        align-items: center;
        height: 100dvh;
        gap: 20px;
        background-color: var(--clr-dark-space);
        color: var(--clr-text-secundary);
    }

    .name #fullStack{
        font-size: 6rem;
        color: var(--clr-light-text);
        line-height: 1;
    }

    .name #developer{
        font-size: 6rem;
        color: var(--clr-accent);
        line-height: 1;
    }

    .name h3{
        font-size: 3rem;
        color: var(--clr-light-text);
    }

    .presentation{
        width: 50%;
    }

    .presentation p{
        font-size: 1.2rem;
    }

    .buttonsHero{
        display: flex;
        padding: 1vh;
        gap: 20px;
    }

    .buttonsHero button{
        border-radius: 7px;
        border: 1px solid var(--clr-accent);
    }

    .buttonsHero button:hover{
        background-color: var(--clr-accent-transparent);
        color: var(--clr-light-text);
    }
</style>
