@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import "tailwindcss";

:root {
    --clr-dark-space: #222831;
    --clr-dark-slate: #31363F;
    --clr-accent: #76ABAE;
    --clr-accent-transparent: #76ABAE80;
    --clr-accent-invisible: #76abae3b;
    --clr-light-text: #EEEEEE;
    --clr-text-secundary: #b0b0b0;
    --clr-text-error: #EF4444;
    --clr-highlight: #F4CE14;
}

* {
    a {
        text-decoration: none;
        color: inherit;
    }

    button {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--clr-dark-space);
}

body[data-scroll-locked] {
    overflow: visible !important;
    margin-right: 0 !important;
}

@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.custom-select__menu {
    animation: fadeSlide 0.25s ease forwards;
    transform-origin: top center;
}

nav a.nav-link {
    position: relative;
    padding-bottom: 8px;
    color: var(--clr-text-secundary);
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--clr-accent);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav a.nav-link:hover {
    color: var(--clr-light-text);
}

nav a.nav-link:hover::after {
    transform: scaleX(1);
}

nav a.nav-link.active {
    color: var(--clr-accent);
    font-weight: 500;
}

nav a.nav-link.active::after {
    transform: scaleX(1);
}