@import "tailwindcss";

:root {
    --clr-dark-space: #222831;
    --clr-dark-slate: #31363F;
    --clr-accent: #76ABAE;
    --clr-accent-transparent: #76ABAE80;
    --clr-accent-invisible: #76abae3b;
    --clr-light-text: #EEEEEE;
    --clr-text-secundary: #9CA3AF;
    --clr-text-error: #EF4444;
    --clr-highlight: #F4CE14;
}

* {
    a {
        text-decoration: none;
        color: inherit;
    }

    button {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    transition: all 0.2s ease-in-out;
}

html {
    overflow-y: scroll;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--clr-dark-space);
}

body[data-scroll-locked] {
    overflow: visible !important;
    margin-right: 0 !important;
}

@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.custom-select__menu {
    animation: fadeSlide 0.25s ease forwards;
    transform-origin: top center;
}