---
import SocialLinks from '@/components/ui/SocialLinks.jsx';
---

<header id="main-header" class="text-center bg-[var(--clr-dark-space)] text-[var(--clr-text-secundary)] font-bold py-4 px-4 text-lg">
    <div class="flex row justify-around items-center">
        <div>
            <div>
                <span>
                    {'<'}
                    <span class="text-[var(--clr-accent)]">Guijosa</span>
                    {'/>'}
                </span>
            </div>
        </div>
        <div class="flex row">
            <nav class="flex row gap-8">
                <a href="#" class="hover:text-[var(--clr-accent)] transition-colors">About</a>
                <a href="#" class="hover:text-[var(--clr-accent)] transition-colors">Skills</a>
                <a href="#" class="hover:text-[var(--clr-accent)] transition-colors">Projects</a>
                <a href="#" class="hover:text-[var(--clr-accent)] transition-colors">Contact</a>
            </nav>
        </div>
        
        <SocialLinks client:load />

    </div>
</header>

<style>
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        background-color: rgba(var(--clr-dark-space), 0.5);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-bottom: 1px solid transparent;
        transition: border-color 0.3s ease-in-out;
    }
    header.scrolled {
        border-bottom-color: var(--clr-accent-transparent);
    }
</style>

<script>
    const header = document.querySelector('#main-header');

    if (header) {
        const handleScroll = () => {
            if (window.scrollY > 10) {
                header.classList.add('scrolled');
            } else {
                header.classList.remove('scrolled');
            }
        };

        window.addEventListener('scroll', handleScroll);
    }
</script>