<header class="text-center">
    <div class="flex row justify-between py-4 px-4">
        <div>
            <span>
                {'<Guijosa/>'}
            </span>
        </div>
        <div>
            <nav>
                <ul>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Skills</a>
                    </li>
                    <li>
                        <a href="#">Projects</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div>
            <button>
                Github
            </button>
            <button>
                LinkedIn
            </button>
            <button>
                Email
            </button>
        </div>
    </div>
</header>